<div class="card">
  <div class="image-container">
    <div class="images">
      <ngx-skeleton-loader count="1" appearance="line" class="custom-class-first"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="card-content">
    <div class="cart-info">
      <span class="name">
        <ngx-skeleton-loader count="1" appearance="line" ></ngx-skeleton-loader>
      </span>
      <p class="item-description">
        <ngx-skeleton-loader count="1" appearance="line" ></ngx-skeleton-loader>
      </p>
      <span class="rating">
        <ngx-skeleton-loader count="1" appearance="line" ></ngx-skeleton-loader>
      </span>

      <span class="price">
        <ngx-skeleton-loader count="1" appearance="line" class="custom-class-last" ></ngx-skeleton-loader>
      </span>
    </div>
    <div class="cart-icon">
      <ngx-skeleton-loader count="1" appearance="circle" class="custom-class-circle" ></ngx-skeleton-loader>
    </div>
  </div>

</div>
