<div class="container">
  <div class="form-container">
    <h1>Authentication Form</h1>
  <div class="loading-spinner" *ngIf="isloading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <div class="form" *ngIf="!isloading && !islogedIn">
    <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)">
      <div class="name">

        <div class="name-fileds">
          <div class="form-group text">
            <input type="text" id="firstName"
              name="firstName"
              ngModel
              required
              (click)="removeError()"
              #firstName="ngModel">
            <label for="firstName" >First Name</label>
          </div>
          <div class="error" *ngIf="firstName.errors && firstName.touched">
            <p *ngIf="firstName.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Email is required</p>
          </div>
        </div>

        <div class="name-fileds">
          <div class="form-group text">
            <input type="text" id="lastName"
              name="lastName"
              ngModel
              required
              (click)="removeError()"
              #lastName="ngModel">
            <label for="lastName" >last Name</label>
          </div>
          <div class="error" *ngIf="lastName.errors && lastName.touched">
            <p *ngIf="lastName.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Email is required</p>
          </div>
        </div>
      </div>

      <div class="more-details">

        <div class="more-details-fileds">
          <div class="form-group text">
            <input type="number" id="phone"
              name="phone"
              ngModel
              required
              (click)="removeError()"
              #phone="ngModel">
            <label for="phone" >phone Number</label>
          </div>
          <div class="error" *ngIf="phone.errors && phone.touched">
            <p *ngIf="phone.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Email is required</p>
          </div>
        </div>

        <div class="more-details-fileds">
          <div class="form-group text">
            <input type="text" id="address"
              name="address"
              ngModel
              required
              (click)="removeError()"
              #address="ngModel">
            <label for="address" >Country Name</label>
          </div>
          <div class="error" *ngIf="address.errors && address.touched">
            <p *ngIf="address.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Email is required</p>
          </div>
        </div>
      </div>

      <div class="form-group text">
        <input type="email" id="email"
          name="email"
          ngModel
          required
          email
          pattern="[^ @]*@[^ @]*"
          (click)="removeError()"
          #email="ngModel">
        <label for="email" >Email</label>
      </div>
      <div class="error" *ngIf="email.errors && email.touched">
        <p *ngIf="email.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Email is required</p>
			  <p *ngIf="email.errors['pattern']"><ion-icon name="alert-circle-outline"></ion-icon>Email must contain at least the @ character</p>
      </div>

      <div class="form-group text">
        <input type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
        #password="ngModel">
        <label for="password">Password</label>
      </div>

      <div class="error"
		     *ngIf="password.errors && (password.touched)">
			  <p *ngIf="password.errors['required']"><ion-icon name="alert-circle-outline"></ion-icon>Password is required</p>
			  <p *ngIf="password.errors['minlength']"><ion-icon name="alert-circle-outline"></ion-icon>Password must be at least 6 characters long</p>
		  </div>

      <div class="buttons">
        <button type="submit" class="submit" [disabled]="!authForm.valid" style="margin-bottom: 10px;">SignUp</button>
      </div>
      </form>
    </div>
    <br>
    <br>
    <br>

</div>
</div>

<router-outlet></router-outlet>
