.product-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for form labels */
.form-grou label {
  font-weight: bold;
}

/* Style for form inputs */
.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for error messages */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Style for the submit button */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.submit-button:hover {
  background-color: #0056b3;
}



.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 5px;
}

.btn {
  padding: 15px 20px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px auto;
  border-radius: 5px;
}

.btn[disabled] {
  opacity: .5;
}