.dashboard-header {
  background-color: #abc9c5;
  height: 200px;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.dashboard-header img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid white;
}

.user-info div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.user-info div p {
  margin: 0;
}

.location span {
  display: flex;
  gap: 3px;
}

.define {
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  padding-right: 3px;
}